header{
    
}


header .barra-sup{
    /* width: 100vw; */
    display: flex;
    /* flex: 1; */
    background-color: #222;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

header .titulo-container{
    display: flex;
    height: 3.5rem;
    align-items: center;
}
header .logo{
    padding: 0;
    margin: 0;
    height: 3.5rem;
}
header .titulo {
    /* background-color: red; */
    margin: 0rem 1rem;
    align-items: center;
}

header .btns{
    display: flex;
    /* background-color: blue; */
    padding-left: 3rem;
}

header .hamb-icon-container{
    position: absolute;
    visibility: hidden;
}

header .hamb-icon{

    height: 2rem;
}

header button{
    /* width: 7rem; */
    height: 2.5rem;



}





/* Estilos para telas com no máximo 1250px*/
@media (max-width: 1250px) {
    header .titulo {
        visibility: hidden;
        position: absolute;
    }
}



/* Estilos para telas com no máximo 768px*/
@media (max-width: 768px) {
    header .titulo {
        visibility: visible;
        position: inherit;
    }

    header .btns {
        visibility: hidden;
        position: absolute;
    }
    header .hamb-icon-container {
        position: inherit;
        visibility: visible;
        height: 2rem;
    }

    header .barra-sup{
        justify-content: space-between;
    }
}




/* Estilos para telas com no máximo 580px*/
@media (max-width: 580px) {
    header .barra-sup {

    }
    header .titulo {
        visibility: hidden;
        position: absolute;
    }
    
}