@font-face {
    font-family: "Reem";
    src: url(../font/Reem_Kufi_Fun/ReemKufiFun-VariableFont_wght.ttf);
}



body {
    font-family: "Reem";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2c7b66;
    background-color: #002321;

}

main {
    padding: 0rem;
    background-color: white;
    color: #777;
    overflow: hidden;
    display: flex;
    flex: 1; /* Para manter o footer sempre no final da pagina memso se o conteúdo for pequeno e a tela comprida*/
    flex-direction: column;
    background-color: white;
}




.sobre {
    flex-direction: column;
    padding: 2rem;
}


.content {
    padding: 2rem;
    background-color: white;
}

.apenas-desktop {
    display: none;
}

.recurso-container{
    display: flex;
    margin: 1rem 0 2rem 0;
}

.recurso-container .img-container{
    float: right;
}

.recurso-container img{
    height: 10rem;
    width: 15rem;
    margin-right: 1rem;
    border-radius: 1rem;
    /* background-color: black; */
    box-shadow: 3px 3px 5px black;
    padding: 0.3rem;   
    /* border: solid 1px black; */
    float: left;
}


.recurso-descricao{
    padding-left: 1rem;
    /* max-height: 10rem; */
    overflow: auto;
    margin-bottom: 1rem;
}

main ::-webkit-scrollbar {
    width: 5px;
     border-radius: 3px;
}

main ::-webkit-scrollbar-thumb {
    background-color: #003f3cab;
    border-radius: 3px;
}

main ::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 3px;
    /* Cor da trilha da barra de rolagem */
}



main ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    /* padding-right: 3vw; */
    padding-bottom: 4rem;
    padding-top: 1rem;
}

/* ************************ */
main ul li, main ul li a {
    /* line-height: 5pt; */
    min-width: 40%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    height: 3.5rem;
    /* justify-content: center; */
    /* background-color: red; */
    /* border: solid 1px red; */
}

main ul li img {
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
    /* border: solid 1px red; */
    background-color: rgba(255, 255, 255, 0.519);
    /* margin: 0 1rem; */
}

main ul li p {
    margin: 0 2rem 0 1rem;
    /* line-height: 50%; */
    /* background-color: blue; */
}

main hr {
    margin-bottom: 3rem;
    height: 1px;
    border: 0;
    /* background-color: white; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

main .sobre hr{
    /* background-color: white; */
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}




main h1{
    font-size: 2.8rem;
    padding: 1rem 0;
    color: #2c7b66;
    background-image: linear-gradient(to bottom, #4ACAA8, #2c7b66);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

main h2{
    color: #003f3cab;
    font-size: 2rem;
    padding: 1rem 0;
}

main h3{
    color: #003f3cab;
    font-size: 1.5rem;
    padding: 1rem 0;
}

main h4{
    color: #003f3cab;
    font-size: 1.2rem;
    padding: 1rem 0;
}


main h5{
    color: #003f3cab;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: underline;
    padding: 1rem 0;
}

main h6 {
    color: #003f3cab;
    font-size: 0.85rem;
    text-decoration: underline;
    padding: 1rem 0;
}

main p{
    font-size: 1rem;
    padding: 0.4rem 0;
    line-height: 1.4rem;
    font-weight: 100;
}

.corrigir{
    color: red;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.linha-form{
    display: flex;
    flex: 1;
    justify-content: end;
}

.linha-form input{
    font-family: "Reem";
    width: 100%;
    padding: 0.6rem;
    border-radius: 7px;
    border-color: transparent;
    margin: 0.2rem;
    border: #3ca488 solid 1px;
}

.linha-form textarea {
    font-family: "Reem";
    width: 100%;
    padding: 0.6rem;
    border-radius: 7px;
    border-color: transparent;
    margin: 0.2rem;
    height: 8rem;
    border: #3ca488 solid 1px;
}

.linha-form button{
    font-family: "Reem";
    padding: 0.6rem;
    border-radius: 5px;
    margin: 0.2rem;
    border: transparent;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}



@media (max-width: 400px) {
    .recurso-container img {
        height: 40vw;
        width: 60vw;
        padding-right: 1rem;
    }
}


@media (max-width: 650px) {
    .recurso-container {
        flex-direction: column;    
    }
    .recurso-descricao{
        padding: 1rem 0;
        order: 1;
    }
    .img-container{
        order: 2;
    }

    .recurso-container img {
        /* height: 10rem; */
        /* width: 15rem; */
        max-width: none;
        /* padding-right: 1rem; */
    }


    main ul li {
        min-width: 100%;

    } 
   




}

@media (min-width: 1400px) {
    main{
        background-image: linear-gradient(to right, #3ca488, #3ca488, white, white);
    }
    .sobre{
        max-width: 500px;
    }
    .content{
        max-width: 1000px;
    }
}

@media (min-width: 1100px) {
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sobre{
        width: 35%;
    }
    .content{
        width: 65%;
    }
    .apenas-desktop {
        display: inherit;
    }

    .sobre {
        /* background-image: linear-gradient(to bottom, white, #2c7b66, white); */
        background-color: #3ca488;
        /* background-image: linear-gradient(to right, #2c7b66, #2c7b66, black); */
        /* background-color: #2c7b66; */
        /* border-top: solid 1px white; */
        /* border-bottom: solid 1px white; */
        /* border-right: solid 1px black; */
        box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.6);
        z-index: 2;
    }
    
    .sobre p{
        color: white;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    }

    .sobre h1 {
        font-size: 2.8rem;
        padding: 1rem 0;
        color: #00282685;
        /* background-image: linear-gradient(to bottom, #2c7b66, #2c7b66, #000);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; */

    }





}